!!! html
%html
  %head
    %title= @page_title ||= 'page title'
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    
    / %link{'rel'=>"alternate", 'type'=>"application/atom+xml", 
    /   'title'=>"sousk.net - timeline", 'href'=> timeline_url }
    
    / 
      = stylesheet_link_tag "oocss/core/libraries" #, :media => "screen, projection"
      = stylesheet_link_tag "oocss/core/template/template"
      = stylesheet_link_tag "oocss/core/grid/grids"
      = stylesheet_link_tag "content"
      = stylesheet_link_tag "themes/bright"
    = stylesheet_link_tag "3col"
    = stylesheet_link_tag "3col_debug"
    = stylesheet_link_tag "phi"
    
  %body
    #header
      %h1= @page_title ||= 'page title'

    .colmask.blogstyle
      .colmid
        .colleft
          .col1wrap
            .col1
              #messages
                #notice= flash[:notice]
                #error= flash[:error]
                #warn= flash[:warn]
              #contents
                = yield :layout

          .col2
            %h2 recent posts
            %ul
              - Entry.recent.limit(8).each do |e|
                %li= e.title
          .col3
            

    #footer
      footer
